#container {
    position: relative;
}

#chat-root {
    position: absolute;
    width: 20%;
    height: 35%;
    bottom:0;
    right: 3rem;
    border-radius: 3rem;


}

#chathead{
    text-align: center;
    font-size: 20px;
    color: whitesmoke;
}

.chat-display {
    position: relative;
    height: 88%;
    background-color: #657584;
    

}

.chat-input {
    position: relative;
    min-height: 10%;
    background-color: #657584;
}
