#container {
    position: relative;
}

#chat-root {
    position: absolute;
    width: 20%;
    height: 35%;
    bottom: 0;
    right: 3rem;
    border-radius: 3rem;


}

#chathead {
    text-align: center;
    font-size: 20px;
    color: whitesmoke;
}

.chat-display {
    position: relative;
    height: 90%;
    background-color: #657584;


}

.chat-input {
    position: relative;
    height: 10%;
    /* background-color: #657584; */
    display: flex;
}

#input {
    min-height: 100%;
    width: 80%;
    font-size: 16px;
    font-size: max(16px, 1em);
    font-family: inherit;
    padding: 0.25em 0.5em;
    background-color: #fff;
    border: 1px solid #8b8a8b;
    border-radius: 4px;
}

#input:focus {
    outline: 2px solid #060106;
    border-radius: 4px;
}

#send {
    width: 20%;
    background-color: #e1ecf4;
    border-radius: 3px;
    border: 1px solid #7aa7c7;
    box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: #39739d;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.15385;
    margin: 0;
    outline: none;
    padding: 8px .8em;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
}

#send:hover {
    background-color: #b3d3ea;
    color: #2c5777;
    outline: 2px solid #7aa7c7;
}

#send:focus {
    box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
    
}

#send:active {
    background-color: #a0c7e4;
    box-shadow: none;
    color: #2c5777;
}
